#### The goal of this project is to answer: What is it that people want to learn about in data science?
#### To answer this we will use a website that has data science question and aswers. The website is stack exchange. In here: https://data.stackexchange.com/datascience/query/new, we can do queries to explore the databases they have, like this one:

SELECT Id,PostTypeId,CreationDate,Score,ViewCount,Tags,AnswerCount,FavoriteCount 
FROM Posts
WHERE CreationDate LIKE '%2019%';

#### We are going to study posts from 2019 onwards

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# read csv
questions = pd.read_csv("2019_questions.csv")

In [3]:
questions.head()

,Id,CreationDate,Score,ViewCount,Tags,AnswerCount,FavoriteCount
0,44419,2019-01-23 09:21:13,1,21,<machine-learning><data-mining>,0,NaN
1,44420,2019-01-23 09:34:01,0,25,<machine-learning><regression><linear-regressi...,0,NaN
2,44423,2019-01-23 09:58:41,2,1651,<python><time-series><forecast><forecasting>,0,NaN
3,44427,2019-01-23 10:57:09,0,55,<machine-learning><scikit-learn><pca>,1,NaN
4,44428,2019-01-23 11:02:15,0,19,<dataset><bigdata><data><speech-to-text>,0,NaN

In [4]:
questions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8839 entries, 0 to 8838
Data columns (total 7 columns):
Id               8839 non-null int64
CreationDate     8839 non-null object
Score            8839 non-null int64
ViewCount        8839 non-null int64
Tags             8839 non-null object
AnswerCount      8839 non-null int64
FavoriteCount    1407 non-null float64
dtypes: float64(1), int64(4), object(2)
memory usage: 483.5+ KB

In [5]:
# replace <, > and split tags
questions["Tags"] = questions["Tags"].str.replace("^<","").str.replace(">$","").str.split("><")
questions["Tags"].head()

0                      [machine-learning, data-mining]
1    [machine-learning, regression, linear-regressi...
2         [python, time-series, forecast, forecasting]
3                [machine-learning, scikit-learn, pca]
4             [dataset, bigdata, data, speech-to-text]
Name: Tags, dtype: object

In [6]:
questions.head()

,Id,CreationDate,Score,ViewCount,Tags,AnswerCount,FavoriteCount
0,44419,2019-01-23 09:21:13,1,21,"[machine-learning, data-mining]",0,NaN
1,44420,2019-01-23 09:34:01,0,25,"[machine-learning, regression, linear-regressi...",0,NaN
2,44423,2019-01-23 09:58:41,2,1651,"[python, time-series, forecast, forecasting]",0,NaN
3,44427,2019-01-23 10:57:09,0,55,"[machine-learning, scikit-learn, pca]",1,NaN
4,44428,2019-01-23 11:02:15,0,19,"[dataset, bigdata, data, speech-to-text]",0,NaN

In [7]:
#Count how many times each tag was used.
tag_count = dict()
for tags in questions["Tags"]:
    for tag in tags:
        if tag in tag_count:
            tag_count[tag] += 1
        else:
            tag_count[tag] = 1
#converts dictionary into a DataFrame         
tag_count_df = pd.DataFrame.from_dict(tag_count, orient = "index")
tag_count_df.rename(columns = {0:"counts"}, inplace = True)
tag_count_df.head()

#sort values in ascending mode
most_used_tags = tag_count_df.sort_values("counts", ascending = False).head(20)
most_used_tags.head(20)

                        counts
machine-learning          2693
python                    1814
deep-learning             1220
neural-network            1055
keras                      935
classification             685
tensorflow                 584
scikit-learn               540
nlp                        493
cnn                        489
time-series                466
lstm                       402
pandas                     354
regression                 347
dataset                    340
r                          268
predictive-modeling        265
clustering                 257
statistics                 234
machine-learning-model     224